<html>
<head>
  <title>Learning Sinatra</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <%= yield %><!-- pulls templates into the body based on the server methods -->
</body>
</html>
