<h1>1 - 10 Array</h1>
<br />

<ol>
  <!-- Loop the numbers array -->
  <!-- echo out the value -->
    <% @numbers.each do |number|%>
      <li><%= number %></li>
    <% end %>
</ol>

<a href='/'>Home</a>
