%h3 Message Encryptor!
%form{:action => "/secret", :method => "post"}
  %input{:name => "message", :type => "text"}/
  %input{:type => "submit"}/

-# Result in HTML
-# <h3>Message Encryptor!</h3>
-# <form action="/secret" method='post'>
-#   <input type="text" name="message" />
-#   <input type="submit" />
-# </form>
